<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://use.fontawesome.com/431205ecbb.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
